body{
    background-color: #FFF000;
    place-items: center;
    display: flex;
    justify-content: center;
    height: 636px;
}

.button {/* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: bold;
  font-family: Arial;
}

.button1{
   background-color: #ffffff;
   border-radius: 8px;
   margin-bottom: 1rem;
   border: 2px solid #000;
   color: black;
   width: 200px;
}

.button2{
  margin-top: 1rem;
  background-color: #2a9db9;
   border-radius: 8px;
   color:white;
   width: 200px;
}

.button2:hover{
     background-color: black; /* Green */
     color: white;
}

.item{
  margin: 1rem;
  padding: 1rem;
  float: left;
  height: 300px;
  vertical-align: middle;
}

#item2{
  display: flex;
  align-items: center;
}

.container{
  overflow: hidden;
}


